.bg-modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 150vh;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.623);

    z-index: 5;
}

.modal {
    height: 150px;
    width: 400px;

    font-family: 'Lobster', sans-serif;
    font-size: 25px;

    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
}

p {
    height: 150px;
    width: 400px;
    margin-top: 55px;
    text-align: center;
}

.modal span {
    float: right;
    font-size: 16px;
    color: tomato;
    margin: 10px;
    cursor: pointer;
}

.modal span:hover {
    color: black ;
    transition: 2s;
}