* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Grenze Gotisch", sans-serif;
    position: fixed;
    height: 100vh;
    overflow: hidden; 
    box-sizing: border-box;
}

html::-webkit-scrollbar { 
    display: none;
}

h1,h2 {
    font-family: "Fondamento", sans-serif;
}

body {
    position: relative; 
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;  

    background: linear-gradient(20deg, #ffdecf, #ba7967, #5e6f64, #3f4441);
    background-size: 200% 200%;
    background-attachment: fixed;
}

#content {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

#igti {
    color: rgba(0, 0, 0, 0.747);
    transition: 2s;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#intro{
    background: transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#intro:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.432);
    transform: translateX(-100%);
    
    animation: enLargeBlock .5s .6s both , revealBlock .5s 1.1s both;
}

@keyframes revealBlock {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes enLargeBlock {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.text {
    text-align: center;
    opacity: 0;
    transition: 2s;
    animation: fadeInText .5s 1.1s both;
    background: transparent;
}

#text {
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: fadeInText .5s 2s both;
    background: transparent;
    cursor: pointer;
}

#text:hover {
    color:rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    list-style: none;
    position: relative;  
    text-align: center; 
}

.menu ul ul {
    position: relative;
    z-index: 2;
    opacity: 0.99;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
    transition: 3s;
}

.li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
    position: relative;
    z-index: 2;
    opacity: 0.99;
    margin-right: 5px;  
    margin-left: 5px;
    transition: 3s;
}

.menu ul li:hover ul,
.menu ul li ul:hover {
    visibility: visible;
}

.menu ul ul button {
    font-family: "Grenze Gotisch", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 100ms;
}

.menu ul ul button:hover,
.menu ul ul button:focus {
    outline-style: none;
    color: rgba(255, 255, 255, 0.527);
}

#rgbBG {
    max-width: 500px;
    max-height: 270px;

    z-index: -1;
    opacity: 0.99;

    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    text-align: center;
    transition: 3s;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.171);
}

#rgbBG h1 {
    width: 500px;
    width: 100%;
}

#rgb1,
#rgb2,
#rgb3,
#rgb4 {
    align-self: center;

    max-height: 100px;
    text-align: center;
    font-size: 14px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;

    margin-top: 10px;
    margin-right: 5px;
}

.rgblab{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-size: 14px;
}   

#rgbinputbg {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

input[type=range] {
    -webkit-appearance: none; 
    outline: none;
    height: 0.5em;
    background:rgba(51, 51, 51, 0.274);
    border-radius: 5px;
    align-self: center;
    margin: 6px;
}

input[type=range]::-webkit-slider-thumb {
    all: unset;
    -webkit-appearance: none; 
    align-self: center;
    width: 10px;
    height: 10px;
    background: #172329de;
    border-radius: 10px;
}

#rgbin1,
#rgbin2,
#rgbin3,
#rgbin4 {
    font-size: 10px;
    text-align: center;
    margin: 15px 15px 0px 15px;
    width: 70px;
    height: 70px;
    border-radius: 80%;
    border: transparent
} 

#rgbin1{
    background-color: #ffdecf;
}

#rgbin2{
    background-color: #ba7967;
}

#rgbin3{
    background-color: #5e6f64;
}

#rgbin4{
    background-color: #5e6f64;
}

#wichrgb {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: row ;
    justify-content: space-between;

    z-index: -1;
    opacity: 0.99;

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#wichrgb button {
    background-color: transparent;
    border: none;
    outline-style: none;
}

#wichrgb h2 {
    color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
}

#wichrgb h2:hover {
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

#wichrgb h2:focus {
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

#regradetres,
#rgb {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;

    z-index: -1;
    opacity: 0.99;

    justify-content: center;

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#intvalue {
    max-width: 500px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#intvalue input,
#inputName {
    font-size: 18px;
    width: 80%;
    padding:5px;
    margin: 5px;
    font-family: "Grenze Gotisch", sans-serif;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;

    outline-style: none;
    background-color:rgba(216, 216, 216, 0.678);
}

#inverso {
    margin-right: 5px;
    cursor: pointer;
}

#send,
#random {
    width: 80px;

    font-size: 16px;
    font-family: "Grenze Gotisch", sans-serif;
    align-self: center;
    border: none;
    cursor:pointer;

    outline-style: none;
    background-color:rgb(255, 255, 255, 0.178)
}

#send:hover,
#random:hover {
    color: rgba(255, 255, 255, 0.527) ;
    background-color:rgb(255, 255, 255, 0.178);
    align-self: center;
}

#cadastro,
#radiopodcast {
    position: relative;
    z-index: -1;
    min-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#cadastro #names {
    text-align: left;
    margin-left: 10px;
}
#cadastro #names button {
    margin-right: 5px;
    outline-style: none;
    border: none;
    background: none;
    font-size: 16px;
    color: rgba(160, 15, 15, 0.781);
}

#cadastro #names button:hover {
    color: rgba(102, 91, 91, 0.767); 
}

#cadastro #names ul {
    list-style: none;
}

#rgbinput{
    width: 70px;
    height: 70px;
    border-radius: 80%;
    margin-top: 10px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.705);
}

.countrycontainer {
    display: flex;
}

a {
cursor: pointer;
}

#crudAPI1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 3s;
    z-index: -1;
    opacity: 0.99;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.171);
}

#crudAPI1 h5 {
    font-size: 18px;
    align-self: center;
}

#crudAPI1 h6 {
    font-size: 16px;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.countryList,
.countryFavs {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    padding: 5px;
    box-shadow: inset 0 0 1em rgba(73, 73, 71, 0.185), 0 0 1em rgba(149, 143, 143, 0.192);
    border-radius: 10px;
    width: 280px;
    max-height: 400px;
}

::-webkit-scrollbar {
    width:6px;
}

::-webkit-scrollbar-track {
    background:rgba(51, 51, 51, 0.274);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1723296c;
    border-radius: 10px;
}

.countryFavs {
    margin-left: 10px;
}   

.countryList {
    margin-right: 10px;
}

#scroll {
    overflow: auto;
    height: 300px;
    margin: 10px;
}

.country {
    height: 80px;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items:right;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.country ul{
    margin: 10px;
    width: 150px;
    list-style-type: none;    
}
.btnADD {
    font-size: 24px;
    font-weight: 300;
    border-radius: 150%; 
 /*   color: rgba(255, 255, 255, 0.705); */   
    color: green;
}

.btnREM {
    height: 15px;
    width: 20px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 150%; 
    color: rgb(128, 0, 0);
    /*    color: rgba(255, 255, 255, 0.705); */   
}

.country img {
    height: 60px;
    width: 60px;
    border-radius: 80%; 
}

input[type=text]:focus{
    box-shadow: 0 0 20px rgba(67, 133, 56, 0.835)
}

#radiopodcast {
    display: flex;
    align-items: center;
    max-height: 400px;
    width: 300px;
    font-size: 14px;
}

#radiopodcast img {
    border-radius: 50%;
    margin: 15px;
    width: 100px;
    height: 100px;
}

#rangeFreq {
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(68, 133, 56, 0.52)
}

#freq {
    color: rgba(0, 0, 0, 0.678);
    outline: none;
    text-align: center;
    margin: 10px;
    width: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background: rgba(56, 56, 53, 0.267);
}

#radiopodcast p{
    color: rgba(0, 0, 0, 0.616);
    margin-top: 5px;
    width: 200px;
}

#megasena {
    align-self: center;
    margin:0;
    height: 500px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 3s;
    background-position: center;
    background-image: url('./img/megasena.jpg');
    opacity: 0.49;
}

#megasena input {
    background-color: rgba(190, 24, 24, 0.966);
    outline: none;
    text-align: center;
    margin: 10px;
    padding: 0;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}